<!-- Mostly written by mccannf from bl.ocks.org, found here https://bl.ocks.org/mccannf
code found taken from here on February 23, 2017: bl.ocks.org/mccannf/1629644 -->

{% load static %}
<!DOCTYPE html>
<!-- Based on url http://natescodevault.com/js/line/ -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>D3 Line Chart</title>
    <link rel="stylesheet" href="{% static 'words/d3LineChart.css' %}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
    <script src="http://d3js.org/d3.v3.min.js" type="text/javascript"></script>
    <script src="{% static 'words/jquery.tipsy.js' %}"></script>
    <link href="{% static 'words/tipsy.css' %}" rel="stylesheet"/>
</head>
<body>
	<button id="button">Redraw</button>
    <div id="chart"></div>
    <script src="{% static 'words/d3LineChart.js' %}"></script>
</body></html>
