<!--From http://bl.ocks.org/bobmonteverde/2070123 -->

{% load static %}
<!DOCTYPE html>
<meta charset="utf-8">

<link href="{% static 'words/d3.css' %}" rel="stylesheet" type="text/css">

<style>
#test1 {
  margin: 0;
  padding: 0;
  overflow: none;
}
</style>


<body>

<div id="test1">
  <svg></svg>
</div>

<script src="http://mbostock.github.com/d3/d3.v2.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="{% static 'words/nvtooltip.js' %}"></script>
<script src="{% static 'words/d3legend.js' %}"></script> 
<script src="{% static 'words/d3line.js' %}"></script> 
<script src="{% static 'words/d3linewithlegend.js' %}"></script> 
<script>

function log(text) {
  if (console && console.log) console.log(text);
  return text;
}



$(document).ready(function() {
    var xAxis = "{{ xAxis }}";
    var yAxis = "{{ yAxis }}";
    //var keywords = "{{ keywords }}";
    //alert(keywords);

  var margin = {top: 30, right: 10, bottom: 50, left: 60},
      chart = d3LineWithLegend()
                .xAxis.label(xAxis)
                .width(width(margin))
                .height(height(margin))
                .yAxis.label(yAxis);


  var svg = d3.select('#test1 svg')
      .datum(generateData())

  svg.transition().duration(500)
      .attr('width', width(margin))
      .attr('height', height(margin))
      .call(chart);


  chart.dispatch.on('showTooltip', function(e) {
  var offset = $('#test1').offset(), // { left: 0, top: 0 }
        left = e.pos[0] + offset.left,
        top = e.pos[1] + offset.top,
        formatter = d3.format(".04f");

    var content = '<h3>' + e.series.label + '</h3>' +
                  '<p>' +
                  '<span class="value">[' + e.point[0] + ', ' + formatter(e.point[1]) + ']</span>' +
                  '</p>';

    nvtooltip.show([left, top], content);
  });

  chart.dispatch.on('hideTooltip', function(e) {
    nvtooltip.cleanup();
  });




  $(window).resize(function() {
    var margin = chart.margin();

    chart
      .width(width(margin))
      .height(height(margin));

    d3.select('#test1 svg')
      .attr('width', width(margin))
      .attr('height', height(margin))
      .call(chart);

    });




  function width(margin) {
    var w = $(window).width() - 20;

    return ( (w - margin.left - margin.right - 20) < 0 ) ? margin.left + margin.right + 2 : w;
  }

  function height(margin) {
    var h = $(window).height() - 20;

    return ( h - margin.top - margin.bottom - 20 < 0 ) ? 
              margin.top + margin.bottom + 2 : h;
  }

						   
						   

  //data
  function generateData() {
    var sin = [],
        sin2 = [],
        cos = [],
        cos2 = [],			   
        r1 = Math.random(),
        r2 = Math.random(),
        r3 = Math.random(),
        r4 = Math.random();

    var xValues = {{ xValues }};
    var keywords = "{{ keywords }}";
    var yValues = {{ yValues }};
    dataPoints = [];

    for(var i = 0; i < xValues.length; i++) {
        dataPoints.push([ xValues[i], yValues[i] ]);
    }

    return [
        {
            data: dataPoints,
            label: keywords
        }
    ]

/*
    var xValues = {{ xValues }};
    var keywords = "{{ keywords }}";
    var yValueList = {{ yValueList }};
    alert(keywords);

    var wordList = [];

    for(var key in keywords) {
        test = [];
        wordList.push(test);
    }

    for(var i = 0; i < xValues.length; i++) {
        for(var j = 0; j < wordList.length; j++) {
            wordList[j].push([ xValues[i], yValueList[j][i]);
        }
    }

    return [
        {
            data: wordList[0],
            label: keywords[0]
        },
        {
            data: wordList[1],
            label: keywords[1]
        }
    ];
    */        

    //var xAxis = "{{ xAxis }}";
    //var yAxis = "{{ yAxis }}";
    //var word1 = "{{ word1 }}";
    //var word2 = "{{ word2 }}";
    //var w1x = {{ w1x }};
    //var w1y = {{ w1y }};
    //var w2x = {{ w2x }};
    //var w2y = {{ w2y }};
    

    //var word1List = [];
    //var word2List = [];
    
    /*
    for (var i = 0; i < 4; i++) {
        word1List.push([ w1x[i], w1y[i] ]);
        word2List.push([ w2x[i], w2y[i] ]);
    }    

    return [
        {
            data: word1List,
            label: word1
        },
        {
            data: word2List,
            label: word2
        }
    ];


    /*var graphTest = [];
    var xAxis;
    var yAxis;
    var xValues = [];
    var yValues = [];

    test = {{ test }};
	test2 = {{ test2 }};
    alert(test);
    for (var key in test) {
        xAxis = key;
        xValues = test[key];
    }
    for (var key in test) {
        yAxis = key;
        yValues = test[key];
    }

    for (var i = 0; i < 4; i++) {
        graphTest.push([ xValues[i], yValues[i]);
    }

    return [
        {
            data: graphTest,
            label: xAxis
        }
    ];
    
    /*
    for (var i = 0; i < 100; i++) {
      sin.push([ i, 0.1 ]);
      cos.push([ i, r2 * Math.cos( r3 + i / (10 * (r3 + .5) ))]);
      sin2.push([ i, r3 * Math.sin( r1 + i / (10 * (r2 + .5) ))]);
      cos2.push([ i, r4 * Math.cos( r4 + i / (10 * (r1 + .5) ))]);
      test.push([ i, test[ i % 4 ]]);
    }
    

    return [
      {
        data: sin,
        label: "Sine Wave"
      },
      {
        data: cos,
        label: "Cosine Wave"
      },
      {
        data: sin2,
        label: "Sine2 Wave"
      },
      {
        data: cos2,
        label: "Cosine2 Wave"
      },
            {
			data: test,
			label: "Test"
			}
    ];*/
  }

});


</script>
