/* Written by mccannf from bl.ocks.org, found here https://bl.ocks.org/mccannf
code found taken from here on February 23, 2017: bl.ocks.org/mccannf/1629644 */

.data-line {
	stroke: steelblue;
	stroke-width: 2;
	fill: none;
	stroke-dasharray: 0;
}

path {
	stroke: #eee;
	stroke-width: 2;
	stroke-dasharray: 0;
	fill: none;
}

.area {
  	fill: lightsteelblue;
}

text {
	font-family: Arial;
	font-size: 8pt;
	fill: #787878;
}

line {
	stroke: #CDCDCD;
	stroke-width: 0.5;
	/* stroke-dasharray: 3 3; */
	fill: none;
}

.data-point {
	stroke: steelblue;
	stroke-width: 2;
	fill: #FFF;
}

#chart {
        margin: 0;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 60px;                  
  height: 28px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}