<html>
    <head>
        <style>
            div#container{background-color: ivory}
            div#header {background-color: lightseagreen;height: 140px;font-size: 16px;}
            div#mainbody{background-color: antiquewhite; height:500px; width:70%; float: left}
            div#rightside{background-color: darkorange; height:500px; width:30%; float: left}
            div#footer{background-color: darkslategray;height: 100px;clear:both;text-align:center;}
        </style>
    </head>
    
    <body>
        <div id="container">
            
            <div id="header" >
                <br/>
                <h1 style="color: aliceblue;text-align: center">WordsOverTime</h1>
                <a style="float: right;color: aliceblue">Help</a>
                <br/>
                <a href="mailto:guo_xingqi@outlook.com" style="float: right;color: aliceblue">Contact us</a>
            </div>
            
            <div id="mainbody" align="center">
                  <form action = "/words/graph/" method = "post">
                        <br/>
                        <input type="text" id = "keywords" name="keywords" value="comma asdfasdfasdfasdfasdfasdfasdfseperated words" size="20">
                      
                        <br/>
                        <select>
                        <option value ="all">Date from</option>
                        </select>
                        <select>
                        <option value ="all">Date to</option>
                        </select>
                        <select>
                        <option value ="all">Location</option>
                        </select>
                      
                        <br/>
                        <input type="checkbox" name = "pairwise"/>Pairwise
                        <input type="checkbox" name = "docAnaly"/>Document Analytics
                        
                        <br/>
                        From<input type="date" id = "startDate" name="startDate" value="Dec2010" size="7">
                        <br/>
                        To<input type="date" id = "endDate" name="endDate" value="Feb2017" size="7">
                      
                        <br/>
                        <input type="checkbox" name = "byLocation"/>Advanced Search by Location
                      
                        <br/>
                        <input type="text" name="Locations" value="comma seperated locations" size="20">
                      
                        <br/>
                        <input type="checkbox" name = "byLocation"/>Advanced Search by Date
                      
                        <br/>
                        <select>
                        <option value ="all">Number of Chunks</option>
                        </select>
                      
                      
                         <br/>
                        From<input type="text" name="from" value="Dec2010" size="7">
                        From<input type="text" name="from" value="Dec2010" size="7">
                        From<input type="text" name="from" value="Dec2010" size="7">
                        From<input type="text" name="from" value="Dec2010" size="7">
                      
                      
                        <br/>
                        To<input type="text" name="to" value="Feb2017" size="7">
                        To<input type="text" name="to" value="Feb2017" size="7">
                        To<input type="text" name="to" value="Feb2017" size="7">
                        To<input type="text" name="to" value="Feb2017" size="7"><br/>
            {% csrf_token %}
			<input type = "submit" value = "Submit"/>
			
           </form>
            </div>
             <div id="rightside" align="center">
                <h1 style="color: aliceblue">Current Request Queue</h1>
                 
                 
                #1 Request by<br/>
                    dmhamilt@ulaberta.ca<br/>
                    ETA: 3 hours<br/>
                    <br/>
                #1 Request by<br/>
                    dmhamilt@ulaberta.ca<br/>
                    ETA: 4 hours<br/>
                    <br/>
                #1 Request by<br/>
                    dmhamilt@ulaberta.ca<br/>
                    ETA: 47 hours<br/>
                
                 
                 
            </div>

            <div id = "footer">
                <h1 style="color: aliceblue">Social media links</h1>
            </div>
            
        </div>
            
    
</html>
