<!--From http://bl.ocks.org/bobmonteverde/2070123 -->

{% load static %}
<!DOCTYPE html>
<meta charset="utf-8">
<html>
<link href="{% static 'words/d3.css' %}" rel="stylesheet" type="text/css">

<style>
#test1 {
  margin: 0;
  padding: 0;
  overflow: none;
}
</style>


<body>

<script>
var title = '';
var xAxis = "{{ xAxis }}";
var yAxis = "{{ yAxis }}";
var xValues = {{ xValues }};
var startDate = new Date(xValues[0]);
var startDateStr = ''
startDateStr += startDate.getFullYear() + "-" + startDate.getMonth() + "-" + startDate.getDate();
//alert(startDate);
var endDate = new Date(xValues[xValues.length - 1]);
var endDateStr = ''
endDateStr += endDate.getFullYear() + "-" + endDate.getMonth() + "-" + endDate.getDate();

title = title + yAxis + " by " + xAxis;

//http://stackoverflow.com/questions/14845710/javascript-variable-access-in-html
    window.onload = function() {
        document.getElementById("graphTitle").innerHTML=title;
    } 
</script>

<h2 id="graphTitle"></h2>

<div id="test1">
  <svg></svg>
</div>

<script src="http://mbostock.github.com/d3/d3.v2.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="{% static 'words/nvtooltip.js' %}"></script>
<script src="{% static 'words/d3legend.js' %}"></script> 
<script src="{% static 'words/d3line.js' %}"></script> 
<script src="{% static 'words/d3linewithlegend.js' %}?v=009"></script> 
<script>

function log(text) {
  if (console && console.log) console.log(text);
  return text;
}



$(document).ready(function() {
    var xAxis = "{{ xAxis }}";
    var yAxis = "{{ yAxis }}";
    //var keywords = "{{ keywords }}";
    //alert(keywords);

  var margin = {top: 30, right: 10, bottom: 50, left: 60},
      chart = d3LineWithLegend()
                .xAxis.label(xAxis)
                .width(width(margin))
                .height(height(margin))
                .yAxis.label(yAxis);


  var svg = d3.select('#test1 svg')
      .datum(generateData())

  svg.transition().duration(500)
      .attr('width', width(margin))
      .attr('height', height(margin))
      .call(chart);


  chart.dispatch.on('showTooltip', function(e) {
  var offset = $('#test1').offset(), // { left: 0, top: 0 }
        left = e.pos[0] + offset.left,
        top = e.pos[1] + offset.top,
        formatter = d3.format(".04f");

    var content = '<h3>' + e.series.label + '</h3>' +
                  '<p>' +
                  '<span class="value">[' + e.point[0] + ', ' + formatter(e.point[1]) + ']</span>' +
                  '</p>';

    nvtooltip.show([left, top], content);
  });

  chart.dispatch.on('hideTooltip', function(e) {
    nvtooltip.cleanup();
  });




  $(window).resize(function() {
    var margin = chart.margin();

    chart
      .width(width(margin))
      .height(height(margin));

    d3.select('#test1 svg')
      .attr('width', width(margin))
      .attr('height', height(margin))
      .call(chart);

    });




  function width(margin) {
    var w = $(window).width() - 20;

    return ( (w - margin.left - margin.right - 20) < 0 ) ? margin.left + margin.right + 2 : w;
  }

  function height(margin) {
    var h = $(window).height() - 20;

    return ( h - margin.top - margin.bottom - 20 < 0 ) ? 
              margin.top + margin.bottom + 2 : h;
  }

						   
						   

  //data
  function generateData() {
    var xValues = {{ xValues }};
    var keywords = {{ keywords | safe }};
    //alert(keywords.length);
    //alert(xValues);
    var yValues = {{ yValues }};
    //alert(yValues);
    dataPoints = [];
    returnValueList = [];

    for(var i = 0; i < keywords.length; i++){
        dataPoints = [];
        for(var j = 0; j < xValues.length; j++){
            var date = new Date(xValues[j]);
            date.setTime(date.getTime() + (7*60*60*1000));
            if(yValues[i][j] > -100){
                dataPoints.push([ date, yValues[i][j] ]);
            }
            else {
                dataPoints.push([date, NaN]);
            }
        }        
        returnValueList.push({ data: dataPoints, label: keywords[i] });
    }    
    return returnValueList
  }

});


</script>
</html>
