{% load static %}<!-- hidden token when run in server -->
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Words Over Time</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link rel="shortcut icon" href="{% static 'words/favicon.ico' %}">  
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'words/plugins/bootstrap/css/bootstrap.min.css' %}">
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="{% static 'words/plugins/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'words/plugins/prism/prism.css' %}">
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="{% static 'words/css/styles-4.css' %}">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
		<!--datepicker css-->
<!--depulicated		<link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">-->
    <link href="{% static 'words/css/bootstrap-datetimepicker.min.css' %}"  rel="stylesheet" media="screen">
		<!--dropdown css-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
	
	
		<style> 
		body{ text-align:center} 
		.fileIn{ margin:0 auto;} 
		.colorbg{
				color: #f5f5f5
			}
			.bootstrap-select{ color: f5f5f5}
		</style>
	

	
</head> 

<body data-spy="scroll">
    
    <!---//Theme author's Facebook button code-->
	
<!--
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
-->
    
    <!-- ******HEADER****** --> 
    <header id="header" class="header">  
        <div class="container">            
            <h1 class="logo pull-left">
                <a class="scrollto" href="#promo">
                    <span class="logo-title">WordsOverTime</span>
                </a>
            </h1><!--//logo-->              
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->            
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item sr-only"><a class="scrollto" href="#promo">Home</a></li>
                        <li class="nav-item"><a class="scrollto" href="#about">About</a></li>
											<li class="nav-item"><a class="scrollto" href="#analyze">Analyze</a></li>
<!--                        <li class="nav-item"><a class="scrollto" href="#features">Features</a></li>-->
<!--                        <li class="nav-item"><a class="scrollto" href="#docs">Docs</a></li>-->
<!--                        <li class="nav-item"><a class="scrollto" href="#license">License</a></li>                        -->
                        <li class="nav-item last"><a class="scrollto" href="#contact">Contact</a></li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->
        </div>
			
			
<!--
			<style tabindex="text/css">
				.second{
					text-align:center
				}
			</style>
-->
			
			
    </header><!--//header
    
    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">WordsOv<span class="highlight">erTime</span></h2>
            <p class="intro">A mobile-friendly tool designed to help researchers
understand how language is used by the media</p>
            <div class="btns">
                <a class="btn btn-cta-secondary" href=#analyze>Get Started</a>
<!--                <a class="btn btn-cta-primary" href="http://themes.3rdwavemedia.com/website-templates/devaid-free-bootstrap-theme-developers/" target="_blank">Download</a>-->
            </div>
					
            <ul class="meta list-inline">
<!--
                <li><a href="https://github.com/xriley/devAid-Theme" target="_blank">View on GitHub</a></li>
                <li><a href="http://themes.3rdwavemedia.com/website-templates/devaid-free-bootstrap-theme-developers/" target="_blank">Full Documentation</a></li>
                <li>Created by: <a href="http://themes.3rdwavemedia.com/" target="_blank">Xiaoying Riley</a> at 3rd Wave Media</li>
-->
            </ul><!--//meta-->
        </div><!--//container-->
			
<!-- DELETED  <div class="social-media">-->
    </section><!--//promo-->
    
    <!-- ******ABOUT****** --> 
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">What is WordsOverTime?</h2>
            <p class="intro text-center">WordsOverTime is a web based database application that involves running a series of requests over a database that stores several articles, and outputting the results of those requests to the user.</p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Designed for Reseachers</h3>
                        <p>Designed for researchers who are interested in analyzing word meanings over time.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Time Saver</h3>
                        <p>An efficient way to acquire the desired values from a large database.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-crosshairs"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">UX-centred</h3>
                         <p>User experience centred UI design and color schema.</p>
                    </div><!--//content-->
                </div><!--//item-->           
                <div class="clearfix visible-md"></div>    
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-tablet"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Mobile-friendly</h3>
                         <p>A responsive web framework allows this page to fit many different devices.</p>
                    </div><!--//content-->
                </div><!--//item-->                
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Easy to use</h3>
                        <p>Within only a few clicks, queries are easy for even students to use.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-coffee"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Benefit</h3>
                        <p>Benefiting for understanding how words are used by media over time </p>
                    </div><!--//content-->
                </div><!--//item-->               
            </div><!--//row-->            
        </div><!--//container-->
    </section><!--//about-->
    
    <!-- ******ANALYZE****** --> 
    <section id="analyze" class="features section">
        <div class="container text-center">
            <h2 class="title">Analyze</h2>	
					
					
					
		<!-- start of input validating-->
		<script type="text/javascript">

		function ifEmptyNotify(field,alerttxt)
		{
		with (field)
			{
			if (value==null||value=="")
				{alert(alerttxt);return false}
			else {return true}
			}
		}
			
		function ifEmptySilent(field)
		{
		with (field)
			{
			if (value==null||value=="")
				{return false}
			else {return true}
			}
		}
			
		function ifNCloestEmpty(){
			if (ifEmptySilent(Nneighbor)==false || ifEmptySilent(keywords) == false){
				{return false}
			}
			else {return true}
		}
			
		function ifCosEmpty(){
			if (ifEmptySilent(wordPairs)==false){
				return false
			}
			else {return true}
		}
		
		function ifTdidfEmpty(){
			if(ifEmptySilent(tfidfWord)==false){
				return false
			}
			else {return true}
		}
			
		function ifPCPEmpty(){
			if(ifEmptySilent(conditionalWord)==false){
				return false
			}
			else {return true}
		}
			
		function ifAAChecked(){
			if(document.getElementById('AV').checked || document.getElementById('AA').checked || document.getElementById('5AV').checked || document.getElementById('5AA').checked){
				return true
			}
			else { return false}
		}
			
		function ifWFEmpty(){
			if(ifEmptySilent(frequencyWord)==false){
				return false
			}
			else {return true}
		}
		
	
		function ifRelativeWFEmpty(){
			if(ifEmptySilent(relativeWord)==false){
				return false
			}
			else {return true}
		}

		function isValidCSP(commaSeperatedPhase)//regexp practise 
		{
				// First check for the pattern
				var regex_csp = /^\w+(,\w+)*$/;

				if(!regex_csp.test(commaSeperatedPhase))
				{
						return false;
				}
			}
		
		function checkForm(thisform)
		{
		with (thisform)
			{
				
			//general slots check
			if (ifEmptyNotify(startDate,"Starting Date  must be filled!")==false)
				{startDate.focus();return false}
				
			if (ifEmptyNotify(endDate,"Ending Date must be filled!")==false)
				{endDate.focus();return false}
				
			if (ifEmptyNotify(userEmail,"Email must be filled!")==false)
				{userEmail.focus();return false}
			
			//task section check
				if (ifNCloestEmpty() == false && ifCosEmpty()==false && ifTdidfEmpty() == false && ifPCPEmpty() == false && ifAAChecked() == false && ifWFEmpty() == false && ifRelativeWFEmpty()==false)
				{
					alert("at least one of the analysis section should be filled !");
					return false}
			}
			
			// input format check
			if(ifNCloestEmpty() == true && isValidCSP(keywords)==false ){
				alert("N neighbor keywords fomat should be comma seperated words like oil,gas ")
			} 
		}
				
		</script><!-- end of input validating script-->
					
					
						<!-- copy from last version-->
					
						 <form  enctype="multipart/form-data" action="/words/success/" method = "post" onsubmit="return checkForm(this)"><!--action = "/words/success/"-- replaced-->
						 
							 <!------->
         
						<div class="form-group" >
                <label for="dtp_input1" class="col-md-4 control-label">From</label>
                <div class="input-group date form_date col-md-5" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input1" data-link-format="yyyy-mm-dd">
                    <input class="form-control" size="16" type="date" value="" readonly placeholder="2010-04-01">
										
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
								<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
								<input type="hidden" name="startDate" id="dtp_input1" value="" /><br/>
            </div>
		
					
						<div class="form-group" >
                <label for="dtp_input2" class="col-md-4 control-label">To</label>
                <div class="input-group date form_date col-md-5" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
           <input type="date" id = "endDate" name="endDate" placeholder="2017-04-01" class="form-control" size="16" readonly>
          <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
          </div>
<input type="hidden" id="dtp_input2" value="" /><br/>
</div>

<!------->		
<!--							 					From <input type="date"  class="form-control"id = "startDate" name="startDate" readonly size="10" value="">-->
                    
<!--                         To <input type="date" id = "endDate" name="endDate" placeholder="2010-01-01" size="10">-->
							 
							 

<div clas = "form-group">
              <label class="col-md-4 control-label">By</label>	
              <select   class="col-md-2 selectpicker"  type = "select" id="unit" name = "granularity">
                      <option value = "Year">Year</option>
                      <option value = "Month">Month</option>
                      <option value = "Week">Week</option>
              </select>
              <!--end of beginning analysing section-->
</div>


                                <br/>
                                <br/>

                         <div class="panel-group" id="accordion"><!--start of accordion -->
                                <div class="panel panel-default">
    <div class="panel-heading">
                                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse1">N Closest Neighbours</a></h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                            <div id="NclosestNeighbors">
<p class="intro text-center">The N closest neighbours in each output m  atrix for a given list of words.</p><p>Format as whitespace seperated words. Choose either a file upload or use the text box.</p>
                          <br/>
                          <input type="number" id = "Nneighbor" name="Nneighbor" size="2" placeholder="N">
                          <input type="text" id = "keywords" name="keywords" value="" size="50" placeholder="word word">
                              <br/>              
                          <input type="file" class="fileIn" name = "text_file" id="text_file">
                                              <br/> 
                          <select id="output2" name="skipOrCBOW1">
                                  <option>CBow</option>
                                  <option>Skipgram</option>
                          </select>
          </div>
  </div>
</div>
</div><!--end of the first fold in-->
								
<div class="panel panel-default">
<div class="panel-heading">
        <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                Cosine Distance of Word Pairs</a>
        </h4>
</div>                                    <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">
                <div id="cos">
<p class="intro text-center">The cosine distance in each output matrix for a given list of word pairs.  Format as pairs of words joined by a , with pairs seperated by spaces. Choose either a file upload or use the text box.</p>
<input type="text" id = "wordPairs" name="wordPairs"  size="30" placeholder="word,word word,word">

<input class="fileIn" type=file name = "text_file2" id="fileCos">
                  <br/>
                        <select id="output3" name="skipOrCBOW2">
                                <option>CBow</option>
                                <option>Skipgram</option>
                        </select>
                </div>
        </div>
</div>
</div><!--end of the second fold in-->

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Average tfidf</a>
</h4>
</div>
<div id="collapse3" class="panel-collapse collapse">
<div class="panel-body">
        <div id="Averagetfidf">
                <p class="intro text-center">A measure of the average tdidf over time.</p><p>Format as whitespace seperated words.</p>
                <input type="text" id = "tfidfWord" name="tfidfWord"  size="10" placeholder="word word">
        </div>
</div>
</div>
</div><!--end of the third fold in-->

								 
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
<a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Pairwise Conditional Probabilities</a>
</h4>
</div>
<div id="collapse4" class="panel-collapse collapse">
<div class="panel-body">
<div id="pcp"><!--changed id from five to abbr.-->

<p class="intro text-center">Pairwise conditional probablities by article for each corpus chunk.</p><p>Format as pairs of words joined by a , with pairs seperated by spaces. Choose either a file upload or use the text box.</p>
<input type="text" id = "conditionalWord" name="conditionalWord"  size="30" placeholder="word,word word,word">
  <input class="fileIn" type=file name = "fileConditional" id="fileCondtitonal" >
</div>
</div>
</div>
</div><!--end of the forth fold in-->


<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
<a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Valence and Arousal</a>
</h4>
</div>
<div id="collapse5" class="panel-collapse collapse">
<div class="panel-body">
<div id="aa" class = "checkbox"><!--changed id from six to abbr.-->
<p class = "intro text-center">The Average valence and arousal of documents, optionally only those containing certain words.</p><p>Format as whitespace seperated words, or leave empty.</p>
<input type="text" id = "averageWords" name="averageWords"  size="10" placeholder="word word"><br/>
  
<label><input type="checkbox" id = "AV" name="Average valence" value="1">Average Valence</label>
  <br/>
<label><input type="checkbox"  id = "AA" name="Average arousal" value="1">Average Arousal</label>
<br/>
<label><input type="checkbox"  id = "5AV" name="5 Words Average valence" value="1">Average Valence of Five Words with the Highest tfidf</label>
<br/>
<label><input type="checkbox" id = "5AA" name="5 Words Average arousal" value="1">Average Arousal of Five Words with the Highest tfidf</label>
        </div>
</div>
</div>
</div><!--end of the fifth fold in-->

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
<a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Word Frequency</a>
</h4>
</div>
<div id="collapse6" class="panel-collapse collapse">
<div class="panel-body">
<div id="WordFrequency"><!--changed id from seven to abbr.-->
<p class="intro text-center">Measure of word frequency in each corpus chunk.</p><p>Format as whitespace seperated words. Choose either a file upload or use the text box.</p>
<input type="text" id = "frequencyWord" name="frequencyWord"  size="50" placeholder="word word">
<input class="fileIn" type=file name = "wordFrequencyFile" enctype = "multipart/form-data" id="fileFrequency" >
</div>
</div>
</div>
</div><!--end of the sixth fold in-->


<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
<a data-toggle="collapse" data-parent="#accordion" href="#collapse7">Relative Word Frequency</a>
</h4>
</div>
<div id="collapse7" class="panel-collapse collapse">
<div class="panel-body">
<div id="ralativeWordFrequency"><!--changed id from seven to abbr.-->
<p class="intro text-center">Measure of relative word frequency in each corpus chunk: frequency within a corpus chunk to global word frequency in the entire corpus.</p><p>Format as whitespace seperated words. Choose either a file upload or use the text box.</p>
<input type="text" id = "relativeWord" name="relativeWord"  size="50" placeholder="word word">
<input class="fileIn" type=file name = "relativeFile" enctype = "multipart/form-data" id="relativeFile">
</div>
</div>
</div>
</div><!--end of the sixth fold in-->
</div><!--end of the whole accordion section-->
					 
<input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' /><!-- hidden csrf_token -->


<br/>

<div id="submission">
<input type="email" size=30 id="userEmailid" name = "userEmail" placeholder="User@email.ca">
<br/>
<br/>
<input class="btn btn-cta-secondary" type = "submit" value = "Submit"/>		
</div>
</form><!--//from latest version-->
</div><!--//container-->
</section><!--//analysis-->
    
    <!--DELETED ******DOCS****** --> 
<!--DELETED     <section id="docs" class="docs section">-->       
    <!-- ******LICENSE****** --> 
<!--    <section id="license" class="license section">-->
	
    <!-- ******CONTACT****** --> 
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title  text-center">Contact</h2>
<!--                <p class="intro  text-center">I hope you find this Bootstrap template useful. <br />Feel free to get in touch if you have any questions or suggestions.</p>-->
<!--                <div class="author-message">                      -->
<!--                    <div class="profile">-->
<!--                        <img class="img-responsive" src="assets/images/profile.png" alt="" />-->
<!--                    </div>//profile-->
<!--DELETED                    <div class="speech-bubble">-->
                                            
<!--                </div>//author-message-->
                <div class="clearfix"></div>
                <div class="info text-center">
<!--                    <h4 class="sub-title">Get Connected</h4>-->
                    <ul class="social-icons list-inline">
                        <li><a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.linkedin.com/feed/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>  
<!--                        <li><a href="https://dribbble.com/Xiaoying"><i class="fa fa-dribbble"></i></a></li>   -->
                        <li class="last"><a href="mailto:xingqi1@ualberta.ca"><i class="fa fa-envelope"></i></a></li>              
                    </ul>
                </div><!--//info-->
            </div><!--//contact-inner-->
        </div><!--//container-->
    </section><!--//contact-->  
      
    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container text-center">
            <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
            <small class="copyright">Deployed <i class="fa fa-heart"></i>under <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank">Licences</a></small>
        </div><!--//container-->
    </footer><!--//footer-->
     
    <!-- Javascript -->          
    <script type="text/javascript" src="{% static 'words/plugins/jquery-1.11.3.min.js' %}"></script>   
    <script type="text/javascript" src="{% static 'words/plugins/jquery.easing.1.3.js' %}"></script>   
    <script type="text/javascript" src="{% static 'words/plugins/bootstrap/js/bootstrap.min.js' %}"></script>     
    <script type="text/javascript" src="{% static 'words/plugins/jquery-scrollTo/jquery.scrollTo.min.js' %}"></script> 
    <script type="text/javascript" src="{% static 'words/plugins/prism/prism.js' %}"></script>    
    <script type="text/javascript" src="{% static 'words/js/main.js' %}"></script>  
	
	
	
	<!--js for datepicker-->
<!--duplicated		<script type="text/javascript" src="./jquery/jquery-1.8.3.min.js" charset="UTF-8"></script>-->
<!--duplicated    <script type="text/javascript" src="./bootstrap/js/bootstrap.min.js"></script>-->
<script type="text/javascript" src="{% static 'words/js/bootstrap-datetimepicker.js' %}" charset="UTF-8"></script>
<!--<script type="text/javascript" src="{% static 'words/js/bootstrap-datetimepicker.fr.js' %}" charset="UTF-8"></script>-->
<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1
    });
	$('.form_date').datetimepicker({
        language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
    });
	$('.form_time').datetimepicker({
        language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 1,
		minView: 0,
		maxView: 1,
		forceParse: 0
    });
</script>
	
	
	
	<!-- bootstrap drop down js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>


</body>
</html> 
